* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #32333a;
    color: #dddddd;
    font-family: "Montserrat";
    overflow: hidden;
    letter-spacing: 0.5px;
    margin: 50px;
    text-align: center;
}

#numContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.number {
    border: 2.5px solid #18181c;
    border-radius: 16px;
    background-color: #282930;
    padding: 20px;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.button {
    margin: 20px;
    padding: 10px;
    background-color: #282930;
    color: #dddddd;
    font-family: "Montserrat";
    user-select: none;
    transition-duration: 300ms;
    border: 2.5px solid #18181c;
    border-radius: 16px;
}

.button:hover{
    background-color: #32333a;
    box-shadow: 6px 6px #222328;
}

#speedText {
    padding: 5px;
    background-color: #282930;
    color: #dddddd;
    font-family: "Montserrat";
    border: 2.5px solid #18181c;
    border-radius: 4px;
    text-align: center; 
}

#info {
    padding: 5px;
    margin: 10px;
    color: #dddddd;
    font-family: "Montserrat";
    text-align: center; 
}